<header class="header">
    <nav class="header-nav">

        

        <div class="nav-title">
            <a class="nav-brand" href="{{ .Site.BaseURL }}"> <span data-feather='home'></span> </a>
        </div>

        <div class="nav-links">
            {{ range .Site.Menus.main }}
            <div class="nav-link">
                <a href="{{ .URL | absURL }}" {{ if .Params.NewPage -}}target="_blank" {{- end -}}>
                    {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML -}}
                </a>
            </div>
            {{ end }}

            
            <div class="nav-link" id="hamburger-menu-toggle">
                <span class="sr-only hamburger-menu-toggle-screen-reader-target">menu</span>
                <a>
                    <span data-feather="menu"></span>
                </a>
            </div>

            <!-- For mobile -->
            <ul class="nav-hamburger-list visibility-hidden">
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a href="{{ .URL | absURL }}" {{ if .Params.NewPage -}} target="_blank"{{- end -}}>
                        {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML -}}
                    </a>
                </li>
                {{ end }}
            
            </ul>

        </div>
    </nav>
</header>
